#{$parent} {
	div.CheckBox {
		display: inline-flex;
		box-sizing: border-box;
		align-items: center;
		padding: 1px;
		width: 100%;

		> .title {
			flex: 1;
			white-space: nowrap;
			overflow: hidden;

			label {
				display: inline-block;
				width: 100%;
			}
		}

		> .value {
			display: flex;
			flex-direction: column;
			margin: 0 2px;
			width: 60%;

			> input {
				margin: 0;
			}
		}
	}
}
