#{$parent} {
	$fontSize: 14px;
	$lineHeight: 1.4;
	$background: #2f2d30;
	$separator: #535154;
	$border: rgba(255, 255, 255, 0.1);
	$shadow: rgba(0, 0, 0, 0.1);

	div.ContextMenu {
		position: absolute;
		padding: 0.3em 0;
		font-size: $fontSize;
		line-height: $lineHeight;
		background-color: $background;
		border-radius: 0.4em;
		border: 1px solid $border;
		box-shadow: 1px 1px 12px $shadow;

		.item {
			padding: 0 1.5em;
		}
		.item:hover {
			color: white;
			background-color: theme("selected");
		}
		.selected:hover {
			color: inherit;
			background-color: transparent;
		}
		.selected-after {
			color: white;
			background-color: theme("selected");
		}
		.selected-after:hover {
			color: white;
			background-color: theme("selected");
		}
		.unselected {
			color: inherit;
			background-color: transparent;
		}
		.unselected:hover {
			color: inherit;
			background-color: transparent;
		}
		.separator {
			margin: 0.3em 0 -0.7em 0;
			height: 1em;
			border-top: 2px solid $separator;
		}
		.separator:hover {
			color: transparent;
			background-color: transparent;
		}
	}
}
