#{$parent} {
	div.ImageSelector {
		display: inline-flex;
		width: 100%;

		> .title {
			display: inline-block;
		}

		> .value {
			display: inline-flex;
			height: 64px;
			> img {
				object-fit: contain;
				max-width: 100%;
				max-height: 100%;
			}
		}

		> .value.dragEnter {
			box-shadow: 0 0 0 2px theme("selected");
		}
	}
}
