#{$parent} {
	div.InputRange {
		display: inline-flex;
		box-sizing: border-box;
		align-items: center;
		padding: 1px;
		width: 100%;

		> .title {
			display: inline-block;
			width: 40%;
			white-space: nowrap;
			overflow: hidden;
		}

		> .value {
			display: inline-flex;
			flex: 1;
			align-items: center;

			> input {
				margin: 0 2px;
			}

			> input[type="range"] {
				width: 3em !important;
				height: 1em;
				flex: 1;
			}

			> input[type="text"] {
				width: 2em;
			}
		}
	}
}
