#{$parent} {
	div.InputRange {
		display: inline-flex;
		box-sizing: border-box;
		align-items: center;
		padding: 1px;
		width: 100%;

		> .title {
			flex: 1;
			white-space: nowrap;
			overflow: hidden;
		}

		> .value {
			display: inline-flex;
			align-items: center;
			margin: 0 2px;
			width: 60%;

			> input {
				margin: 0 1px 0 2px;
			}

			> input[type="range"] {
				flex: 1;
				margin: 0;
				width: 3em;
				height: 1em;
			}

			> input[type="text"] {
				box-sizing: border-box;
				width: 2.5em;
				height: 1.5em;
			}
		}
	}
}
