#{$parent} {
	div.TextArea {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 2px;

		> .title {
			display: block;
			margin: 0 2px;
		}

		> textarea {
			margin: 0 2px;
			min-height: 1.4em;
			resize: vertical;
		}
	}
}
