#{$parent} {
	div.Vector3 {
		display: inline-flex;
		box-sizing: border-box;
		align-items: center;
		padding: 1px;
		width: 100%;

		> .title {
			display: inline-block;
			min-width: 30%;
			white-space: nowrap;
			overflow: hidden;
		}

		> .value {
			display: inline-flex;
			width: 70%;
			justify-content: space-evenly;
		}
	}
}
