#{$parent} {
	div.Component {
		margin-top: 2px;
		border-top: 1px solid gray;
	}

	div.ComponentTitle {
		display: inline-flex;
		margin-top: 2px;
		width: 100%;

		> .title {
			flex: 1;
		}
	}

	div.AddComponent {
		display: inline-flex;
		justify-content: center;
		margin-top: 2px;
		width: 100%;
		border-top: 1px solid gray;

		button {
			margin-top: 0.5em;
			width: 70%;
		}
	}
}
