#{$parent} {
	div.ConsoleView {
		width: 100%;
		min-width: max-content;
		padding: 0.2em 0;

		> .item {
			display: flex;
			align-items: flex-start;
			padding: 0.2em 0 0 0.2em;
			border-bottom: thin solid rgba(100, 100, 100, 0.5);
			> .icon {
				display: inline;
				margin-right: 0.1em;
			}
			> .time {
				display: inline;
				margin-right: 0.5em;
			}
			> .toggle {
				display: inline;
			}
			> .message {
				display: inline;
				flex: 1;
				> .text {
					display: inline;
					white-space: pre;
				}
				> .stack {
					font-family: monospace;
					white-space: pre;
				}
			}
		}

		> .item.warn {
			background-color: #888070;
		}
		> .item.error {
			background-color: #887070;
		}
		> .item.info {
			background-color: #607060;
		}
	}
}
