$parent: "#editor";
@import "Theme.scss";
@import "Button.scss";
@import "ContextMenu.scss";
@import "HLayout.scss";
@import "Label.scss";
@import "ListView.scss";
@import "Panel.scss";
@import "TreeView.scss";
@import "Vector3.scss";
@import "VLayout.scss";

#{$parent} {
	width: 100%;
	height: 100%;
	color: theme("font");
	div.LeftPanel {
		width: 200px;
		height: 100%;
		border-right: 1px solid theme("border");
		overflow-x: hidden;
		overflow-y: auto;
	}
	div.MainPanel {
		height: 100%;
		overflow: hidden;
	}
	div.RightPanel {
		width: 250px;
		height: 100%;
		border-left: 1px solid theme("border");
		overflow-x: hidden;
		overflow-y: auto;
	}

	.fadeout-leave-active {
		transition: opacity .2s;
	}
	.fadeout-leave-to {
		opacity: 0;
	}
}
