$parent: "#editor";
$selectedColor: #489cf4;


@import "Button.scss";
@import "ContextMenu.scss";
@import "Label.scss";
@import "ListView.scss";
@import "TreeView.scss";

#{$parent} {
	width: 100%;
	height: 100%;
	div.LeftPane {
		float: left;
		width: 200px;
		height: 100%;
	}
	div.MainPane {
		float: left;
		width: calc(100% - 200px);
		height: 100%;
	}
}
