$parent: "#editor";
@import "Theme.scss";
@import "ToolBox.scss";
@import "ConsoleView.scss";
@import "HierarchyView.scss";
@import "ProjectView.scss";
@import "InspectorView.scss";

@import "../basic/css/Button.scss";
@import "../basic/css/CheckBox.scss";
@import "../basic/css/ColorPicker.scss";
@import "../basic/css/ContextMenu.scss";
@import "../basic/css/HResizeBar.scss";
@import "../basic/css/ImageSelector.scss";
@import "../basic/css/InputNumber.scss";
@import "../basic/css/InputRange.scss";
@import "../basic/css/InputText.scss";
@import "../basic/css/Label.scss";
@import "../basic/css/ListView.scss";
@import "../basic/css/Rectangle.scss";
@import "../basic/css/SelectAspect.scss";
@import "../basic/css/SelectEnum.scss";
@import "../basic/css/TextArea.scss";
@import "../basic/css/TreeView.scss";
@import "../basic/css/Vector3.scss";
@import "../basic/css/VResizeBar.scss";

@import "../containers/css/Panel.scss";
@import "../containers/css/HLayout.scss";
@import "../containers/css/VLayout.scss";
@import "../containers/css/Tabs.scss";
@import "../containers/css/Window.scss";

@import "../components/css/Camera.scss";
@import "../components/css/ComponentPanel.scss";
@import "../components/css/Light.scss";
@import "../components/css/Material.scss";
@import "../components/css/ParticleSystem.scss";
@import "../components/css/TextMesh.scss";

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 12px;
	user-select: none;
}
body {
	background-color: theme("background");
}

#{$parent} {
	width: 100%;
	height: 100%;
	color: theme("font");
	//padding: 2px;
	box-sizing: border-box;

	.LeftLayout {
		flex: 1;
	}
	.TopLeftLayout {
		flex: 1;
	}
	div.LeftPanel {
		width: 200px;
		height: 100%;
		border-right: thin solid theme("border");
		overflow-x: hidden;
		overflow-y: auto;
	}

	div.Tabs.Top {
		flex: 1;
	}
	div.MainPanel {
		height: 100%;
		overflow: hidden;
		flex: 1;

		div.Toolbar {
			overflow: hidden;
		}
	}
	div.ScenePanel {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		height: 100%;
		overflow: scroll;

		canvas {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}
	div.ScenePanel::-webkit-scrollbar {
		display: none;
	}
	div.PlayerPanel {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		overflow: scroll;

		canvas {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}
	div.PlayerPanel::-webkit-scrollbar {
		display: none;
	}

	div.Tabs.Bottom {
		height: 200px;
		border-top: thin solid theme("border");

		> div.ConsoleViewTab {
			overflow: auto;
		}
	}
	div.BottomLayout {
		position: relative;

		.Panel {
			overflow: auto;
		}
		.TreeView {
			width: 200px;
		}
		.FileList {
			flex: 1;
		}
	}
	div.RightPanel {
		width: 200px;
		height: 100%;
		border-left: thin solid theme("border");
		overflow-x: hidden;
		overflow-y: auto;
	}

	div.dragImages {
		position: absolute;
		left: 0;
		top: 101%;

		> .dragImage {
			opacity: 0.6;
			color: theme("font");
			padding-left: 1.2em;

			> div {
				padding: 0.2em 0.5em;
				min-width: 2em;
				min-height: 1em;
				background-color: theme("background");
				border-radius: 0.5em;
			}
		}
	}

	.fadeout-leave-active {
		transition: opacity .2s;
	}
	.fadeout-leave-to {
		opacity: 0;
	}
}

