$parent: "#editor";
@import "Theme.scss";
@import "Button.scss";
@import "Camera.scss";
@import "CheckBox.scss";
@import "ColorPicker.scss";
@import "Component.scss";
@import "ContextMenu.scss";
@import "HLayout.scss";
@import "HResizeBar.scss";
@import "InputNumber.scss";
@import "InputRange.scss";
@import "Inspector.scss";
@import "Label.scss";
@import "Light.scss";
@import "ListView.scss";
@import "Panel.scss";
@import "Rectangle.scss";
@import "SelectEnum.scss";
@import "TextArea.scss";
@import "TextMesh.scss";
@import "TreeView.scss";
@import "Vector3.scss";
@import "VLayout.scss";
@import "VResizeBar.scss";

#{$parent} {
	width: 100%;
	height: 100%;
	color: theme("font");

	.LeftLayout {
		flex: 1;
	}
	.TopLeftLayout {
		flex: 1;
	}
	div.LeftPanel {
		width: 200px;
		height: 100%;
		border-right: 1px solid theme("border");
		overflow-x: hidden;
		overflow-y: auto;
	}
	div.MainPanel {
		height: 100%;
		overflow: hidden;
		flex: 1;

		div.Toolbar {
			overflow: hidden;
		}
	}
	div.CanvasPanel {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		overflow: scroll;

		canvas {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}
	div.CanvasPanel::-webkit-scrollbar {
		display: none;
	}
	div.BottomLayout {
		position: relative;
		height: 200px;
		border-top: 1px solid theme("border");

		.Panel {
			overflow: auto;
		}
		.TreeView {
			width: 200px;
		}
		.FileList {
			flex: 1;
		}
	}
	div.RightPanel {
		width: 200px;
		height: 100%;
		border-left: 1px solid theme("border");
		overflow-x: hidden;
		overflow-y: auto;
	}

	div.dragImages {
		position: absolute;
		left: -300px;
		top: 0;

		> .dragImage {
			opacity: 0.6;
			color: theme("font");
			padding-left: 1.2em;

			> div {
				padding: 0.2em 0.5em;
				min-width: 2em;
				min-height: 1em;
				background-color: theme("background");
				border-radius: 0.5em;
			}
		}
	}

	.fadeout-leave-active {
		transition: opacity .2s;
	}
	.fadeout-leave-to {
		opacity: 0;
	}
}

