#{$parent} {
	div.InputNumber {
		display: inline-flex;
		width: 100%;

		> .title {
			display: inline-block;
		}
		> .title:hover {
			cursor: ew-resize;
		}

		> input {
			margin: 0 2px;
			min-width: 1em;
			width: 100%;
			height: 1em;
		}
		> input:focus {
			outline: solid 1px theme("selected");
			outline-offset: 0;
		}
	}
}
