#{$parent} {
	div.InspectorView {
		padding-bottom: 2em;
		width: 100%;
		line-height: 1.5;

		input[type="text"] {
			padding: 1px 2px;
			border: 0;
			border-radius: 0.2em;
		}

		div.ObjectTitle {
			display: inline-flex;
			box-sizing: border-box;
			align-items: center;
			margin-top: 2px;
			padding: 1px;
			width: 100%;

			> input[type="text"] {
				flex: 1;
				box-sizing: border-box;
				margin: 0 2px;
				height: 1.5em;
			}
		}

		div.InputNumber {
			box-sizing: border-box;
			align-items: center;
			padding: 1px;

			> .title {
				flex: 1;
				white-space: nowrap;
				overflow: hidden;
			}

			> input {
				width: 60%;
			}
		}

		div.InputText {
			box-sizing: border-box;
			align-items: center;
			padding: 1px;

			> .title {
				flex: 1;
				white-space: nowrap;
				overflow: hidden;
			}

			> input {
				width: 60%;
			}
		}

		div.Vector3 {
			> .value > .InputNumber {
				> .title {
					flex: 0;
					min-width: 0.7em;
				}
				> input {
					flex: 1;
				}
			}
		}

		> div.FileInspector {
			> .title {
				padding: 2px 1px 4px 1px;
			}

			> .textContainer {
				display: flex;
				padding: 2px;
				width: 100%;
				box-sizing: border-box;

				> textarea {
					flex: 1;
					height: 300px;
					background-color: #eee;
				}
			}

			> .imageContainer {
				padding: 2px;
				width: 100%;
				box-sizing: border-box;

				> img {
					width: 100%;
					object-fit: contain;
				}
			}
		}

		> div.SceneInspector {
			> .title {
				padding: 2px 1px 4px 1px;
			}
		}

		/*
		input[type="text"]:focus {
			outline: thin solid orange;
			outline-offset: 1px;
		}

		input[type="checkbox"]:focus {
			outline: none;
			border-radius: 0.2em;
			//border: 1px solid orage;
			box-shadow: 1px 1px 0 1px orange;
			//outline: thin solid orange;
			//outline-offset: 1px;
		}

		select:focus {
			outline: thin solid orange;
			outline-offset: 1px;
		}

		button:focus {
			outline: thin solid orange;
			outline-offset: 1px;
		}

		.ColorPicker > .container:focus {
			outline: thin solid orange;
			outline-offset: 1px;
		}
		*/
	}
}
