#{$parent} {
	div.InspectorView {
		width: 100%;
		line-height: 1.5;

		input[type="checkbox"]:focus {
			outline: 1px solid orange;
			outline-offset: 1px;
		}

		select:focus {
			outline: 1px solid orange;
			outline-offset: 1px;
		}

		button:focus {
			outline: 1px solid orange;
			outline-offset: 1px;
		}
	}

	div.ObjectTitle {
		display: inline-flex;
		box-sizing: border-box;
		align-items: center;
		margin-top: 2px;
		padding: 1px;
		width: 100%;

		> input[type="text"] {
			flex: 1;
			margin: 0 2px;
			height: 1em;
		}
	}
}
