#{$parent} {
	div.SelectEnum {
		display: inline-flex;
		box-sizing: border-box;
		align-items: center;
		padding: 1px;
		width: 100%;

		> .title {
			display: inline-block;
			width: 40%;
			white-space: nowrap;
			overflow: hidden;
		}

		> select {
			margin: 0 2px;
			min-width: 1em;
			width: 60%;
			flex: 1;
		}
		> input:focus {
			outline: solid 1px theme("selected");
			outline-offset: 0;
		}
	}
}
