#{$parent} {
	div.Vector3 {
		position: relative;
		width: 100%;
		line-height: 1.5;
		white-space: nowrap;
		overflow: hidden;

		> .title {
			display: inline-block;
			width: 30%;
			overflow: hidden;
			vertical-align: top;
		}

		> .value {
			display: inline-flex;
			position: absolute;
			right: 0;
			width: 70%;
			justify-content: space-evenly;
		}
	}
}
