#{$parent} {
	div.VLayout {
		position: absolute;
		width: 100%;
		//letter-spacing: -1em;
		white-space: nowrap;
		overflow: hidden;

		> div.Panel {
			width: 100%;
			//letter-spacing: normal;
		}
	}
}
