#{$parent} {
	div.Camera {
		div.ClippingPlanes {
			display: inline-flex;
			box-sizing: border-box;
			align-items: center;
			padding: 1px;
			width: 100%;
	
			> .title {
				flex: 1;
				white-space: nowrap;
				overflow: hidden;
			}
	
			> .value {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				margin: 0 2px;
				width: 60%;

				.title {
					flex: 0;
					min-width: 2.5em;
				}

				input {
					flex: 1;
					margin-right: 0;
				}
			}
		}

		/*
		div.Size {
			box-sizing: border-box;
			align-items: center;
			padding: 1px;

			> .title {
				min-width: 40%;
			}
			> .value {
				width: 60%;
			}
		}
		*/
	}
}
