#{$parent} {
	div.ComponentPanel {
		margin-top: 2px;
		border-top: 1px solid gray;
	}

	div.TitleBar {
		display: inline-flex;
		margin-top: 2px;
		width: 100%;

		> .spacer {
			width: 1.5em;
		}

		> .title {
			flex: 1;
			white-space: nowrap;
		}

		> .config {
			margin: 0 2px;
		}
	}

	div.AddComponent {
		display: inline-flex;
		justify-content: center;
		margin-top: 2px;
		width: 100%;
		white-space: nowrap;
		border-top: 1px solid gray;

		button {
			margin-top: 0.5em;
			width: 70%;
			overflow: hidden;
		}
	}
}
