#{$parent} {
	div.ParticleSystem {
		div.number {
			box-sizing: border-box;
			align-items: center;
			padding: 1px;

			> .title {
				min-width: 40%;
			}
			> .value {
				width: 60%;
			}
		}
	}
}
