#{$parent} {
	div.TextMesh {
		div.number {
			box-sizing: border-box;
			align-items: center;
			padding: 1px;

			> .title {
				min-width: 40%;
				white-space: nowrap;
				overflow: hidden;
			}
			> .value {
				width: 60%;
			}
		}
	}
}
